{% extends 'home/products.html'%}
{%block header%}
Orders
{%endblock%}
{% block table %}
<h5>Ongoing Orders</h5>
<table class="table">
    <tr>
        <th>Product</th>
        <th>Time</th>
        <th>Status</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Cancel</th>
    </tr>
    {% for order in orders2 %}
        <tr>
            <td>{{order.product}}</td>
            <td>{{order.date_created}}</td>
            <td>{{order.status}}</td>
            <td>{{order.quantity}}</td>
            <td>${{order.price}}</td>
            <td style="color: #aaa;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg></td>
        </tr>
    {% endfor %}
    {% for order in orders1 %}
        <tr>
            <td>{{order.product}}</td>
            <td>{{order.date_created}}</td>
            <td>{{order.status}}</td>
            <td>{{order.quantity}}</td>
            <td>${{order.price}}</td>
           
              <td><a href="{% url 'deletePending' order.id %}" style="color: #eb4034;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg></a></td>
        </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total: ${{total}}</td>
        <td></td>
    </tr>
</table>
<h5>Order History</h5>
<table class="table">
    <tr>
        <th>Product</th>
        <th>Time</th>
        <th>Status</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    {% for order in orders3 %}
        <tr>
            <td>{{order.product}}</td>
            <td>{{order.date_created}}</td>
            <td>{{order.status}}</td>
            <td>{{order.quantity}}</td>
            <td>${{order.product.price}}</td>
        </tr>
    {% endfor %}
    {% load sweetify %}
    {% sweetify %}
{% endblock %}
