<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <title>Product</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <style>
        .swal2-popup {
font-size: 13px !important;
}
</style>
</head>
<body>
    <div class="row">
        <div class="col-md">
            <div class="card card-body" style="background-color: #333;">
                <h5 style="color: #fff;"><span style="margin-right: 20px;"><span style="color: #addec9;">Meal</span> station</span>
                 {%block header%}
                    Menu
                    {%endblock%}
                </h5>
    
                <a class="btn" href="{% url 'home' %}" style="background-color: #fff; border: 2px solid #fff; margin:10px 600px; color: #000;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                  </svg>  Go to Home</a>
                  {% if group == "admin" %}
                  <a class="btn" href="{% url 'addProduct' %}" style="background-color: #fff; border: 2px solid #fff; margin:10px 600px; color: #000;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                  </svg> Add new</a>
                  {% endif %}
            </div>
            <div class="card card-body" >
                {% block table %}
                <form method="GET">
                    {{filter.form}}
                    <input type="Submit" name="Submit" value="Filter">
                </form>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        {% if group == "customer" %}
                            <th>View</th>
                            <th>Add</th>
                            {% else %}
                            <th style="text-align: center;">Edit</th>
                            <th style="text-align: center;">Delete</th>
                        {% endif %}
                    </tr>
                   
                    {% for product in products %}
                        <tr>
                            <td>{{product.name}}</td>
                            <td>{{product.category}}</td>
                            <td>${{product.price}}</td>
                            {% if group == "customer" %}
                                <td><a href="{% url 'productpage' product.id %}">View item</a></td>
                                <td><a href="{% url 'buynow' product.id %}"><svg style="width: 25px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M96 0C107.5 0 117.4 8.19 119.6 19.51L121.1 32H541.8C562.1 32 578.3 52.25 572.6 72.66L518.6 264.7C514.7 278.5 502.1 288 487.8 288H170.7L179.9 336H488C501.3 336 512 346.7 512 360C512 373.3 501.3 384 488 384H159.1C148.5 384 138.6 375.8 136.4 364.5L76.14 48H24C10.75 48 0 37.25 0 24C0 10.75 10.75 0 24 0H96zM272 180H316V224C316 235 324.1 244 336 244C347 244 356 235 356 224V180H400C411 180 420 171 420 160C420 148.1 411 140 400 140H356V96C356 84.95 347 76 336 76C324.1 76 316 84.95 316 96V140H272C260.1 140 252 148.1 252 160C252 171 260.1 180 272 180zM128 464C128 437.5 149.5 416 176 416C202.5 416 224 437.5 224 464C224 490.5 202.5 512 176 512C149.5 512 128 490.5 128 464zM512 464C512 490.5 490.5 512 464 512C437.5 512 416 490.5 416 464C416 437.5 437.5 416 464 416C490.5 416 512 437.5 512 464z"/></svg></a></td>
                                {% else %}
                                <td style="text-align: center;"><a style="color: #000;" href="{% url 'updateProduct' product.id %}"><i class="fas fa-edit"></i></a></td>
                                <td style="text-align: center;"><a style="color: #eb4034;" href="{% url 'deleteProduct' product.id %}"><i class="fas fa-trash-alt"></i></a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                {% endblock %}
            </div>
        </div>
        
    </div>
    {% load sweetify %}
    {% sweetify %}
</body>
</html>