<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{product.name}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <style>
        .swal2-popup {
font-size: 13px !important;
}
  </style>
</head>
<body>
    <h2 style="display: inline;"><span style="color: #addec9; margin-left: 10px;">Meal</span> Station</h2>
    <a class="btn btn-primary" href="{% url 'products' %}" style="background-color: #333; border: 2px solid #333; margin:20px 40px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
      </svg>  Go to Menu</a>
    <div class="row" style="margin: 50px">
        <div class="col-md-6" style="display: flex; justify-content: center">
            {% if product.image %}
            <img src="{{product.image.url}}" alt="test" style="width:400px ">
            {% else %}
            <div class="card" style="background-color: #eee; padding: 100px;"><p>Image preview not available</p></div>
            {% endif %}
        </div>
        <div class="col-md-6" style="background-color: #333; color: #fff; padding: 40px; border-radius: 20px;">
            <div>
                <h1>{{product.name}}</h1>
                <br>
                <h4>Category : {{product.category}}</h4>
                <p>{{product.description}}</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sequi ut dolor maiores recusandae. Quod laborum voluptate atque nam eius! Obcaecati rem debitis commodi iste similique officiis vitae nihil perferendis.</p>
                <br>
                <h4>Price : ${{product.price}}</h4>
                <br>
                <form action="{% url 'buynow' product.id %}" method="POST">
                    {%csrf_token%}
                    <label for="quantity">Quantity: </label>
                    <select name="quantity" style="width: 70px; margin-right: 20px;">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <input type="submit" value="Buy Now" class="btn btn-primary" style="color: #000; background-color: #fff; border: 2px solid #fff;">
                </form>
            </div>
        </div>
    </div>  
    {% load sweetify %}
    {% sweetify %}
</body>
</html>